<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
       
      </div>
    </div>
</header>
<div class="mb-3">
   
        <input type="text"  id="cocina" class="form-control form-control-lg" placeholder="Introduce el tipo de cocina que quieres buscar" aria-label=".form-control-lg example">
    
</div>
    <div class="album py-5 bg-light">
      <div class="container">
            <ul class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
                <li class="col-sm" *ngFor="let plato of platos">
                    <div class="col-sm">
                      <div class="card shadow-sm">
                        <img src="{{plato.image! ? plato.image : defoultImage}}">
                        <div class="card-body">
                          <p class="card-text">{{plato.title}}</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button (click)="onAddMenu(plato)"  type="button" class="btn btn-sm btn-outline-secondary">Add to Menu</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
                </li>
            </ul>
      </div>
    </div>
