<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">{{plato.title}}</h1>
        <div innerHTML="{{plato.summary}}"></div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src={{plato.image}} >
      </div>
      <span>
        <br>
      </span>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 text-black">
              <h4 class="my-0 fw-normal">Healt Score</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">{{plato.healthScore}}<small class="text-muted fw-light"> puntos</small></h1>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Tiempo de preparacion</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">{{plato.readyInMinutes}}<small class="text-muted fw-light"> minutes</small></h1>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 text-black ">
              <h4 class="my-0 fw-normal">Precio</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">${{plato.pricePerServing}}<small class="text-muted fw-light">/Unit</small></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>
