
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container-fluid">
          <a class=" text-white navbar-brand d-flex align-items-center">
            <strong>A La Carta</strong>
          </a>
          <div clas="row-cols-5">
          <button (click)="onSearch()" class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-edit"></span>
          </button>
          <button (click)="onLogOut()" class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-file-export"> LogOut</span>
          </button>
        </div>
        </div>
      </div>
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
              <div class="row">
              <h1 class="display-4 fst-italic">Disfrute nuestro variado Menu</h1>
              <p class="lead my-3">“A la carta” es un restaurante que ofrece platos de gran calidad y que satisface a sus clientes
                hace más de 40 años brindando un menú variado que alcanza los gustos de los diferentes
                consumidores.</p>
              
              </div>
          </div>
        </div>
        
      </section>
      <div class="album py-5 bg-light">
        <div class="container">
              <ul class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
                  <li class="col-sm" *ngFor="let plato of menu">
                      <div class="col-sm">
                        <div class="card shadow-sm">
                          <img src="{{plato.image! ? plato.image : defoultImage}}">
                          <div class="card-body">
                            <p class="card-text">{{plato.title}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                <button (click)="onItemDetail(plato.id)" type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button  (click)="onDelete(plato.id)" type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                              </div>
                              <small class="text-muted">9 mins</small>
                            </div>
                          </div>
                        </div>
                      </div>
                  </li>
              </ul>
        </div>
      </div>

      
